body {
  background: #333;
  font-family: monospace;
  line-height: 1.5em;
}

.hp {
  color: #7A963B;
}

#container {
  width: 900px;
  margin: auto;
}

#chat_window {
  width: 98%;
  height: 500px;
  background: #000;
  color: #fff;
  margin: 20px auto;
  padding: 5px;
  overflow-y: scroll;
}

#chat_form {
  width: 100%;
  margin: auto;
}

#chat_input {
  width: 98%;
  height: 30px;
  float: left;
  background: #000;
  color: #7A963B;
  margin: auto;
  padding: 1%;
  border: 0;
  font-family: monospace;
}

#right {
  width: 700px;
  float: left;
}

#left {
  width: 180px;
  margin: 20px 20px 0 0;
  float: left;
  background: #000;
  color: #7A963B;
}

#chatters {
  padding: 5px;
}
